/* Reset básico para limpar margens padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.playball-regular {
  font-family: "Playball", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;         /* Mantém o tamanho grande do título */
  font-weight: bold;
  color: #000;
}



body {
    font-family: Arial, sans-serif;
    font-size: 16px; /* body - 16px */
    line-height: 1.6;
    color: #F7E3CC;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
h1 {
    font-size: 40px; /* h1 - 32 a 40px */
    margin-bottom: 20px;
}

h2 {
    font-size: clamp(24px, 3vw, 28px); /* h2 - 24 a 28px */
    margin-bottom: 15px;
}

.site-header {
    display: flex;
    justify-content: center;
    align-items: center;    
    padding: 20px;
    background-color: #CCDEE6;
    border-bottom: 2px solid #FFA6A2;
    width: 100%;
}

.header-center-container {
    display: flex;
    align-items: center;   
    gap: 30px;               
}

/* Configuração da Imagem da Logo */
.logo-img {
    height: 75px;           
    width: auto;             /* Mantém a proporção original da imagem */
    object-fit: contain;
}

/* --- Layout Principal (Grid das Colunas) --- */
.main-layout {
    display: grid;
    grid-template-columns: 15% 1 gap 15%; /* Divide em 15% | Centro | 15% */
    flex: 1;
}

/* Colunas Laterais de 15% */
.sidebar-left, .sidebar-right {
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
}

/* Área Central */
.content-center {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #311509;
}

/* --- Menu de Navegação (Pontos Vermelhos) --- */
.nav-menu {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 40px;
}

.nav-item {
    text-decoration: none;
    color: #311509;
    background-color: #FFA6A2; 
    padding: 8px 16px;
    border-radius: 20px; /* Formato arredondado/oval */
    font-size: 14px;
    font-weight: bold;
    transition: background 0.2s ease;
}

.nav-item:hover {
    background-color: #AC1912;
}

/* Área de Texto */
.page-content {
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
}

/* --- Rodapé --- */
.site-footer {
    text-align: center;
    padding: 15px;
    color: #311509;
    border-top: 2px solid #FFA6A2;
    background-color: #F7E3CC;
    font-size: 14px;
}
